{% extends 'JTVCleanBundle::layout.html.twig' %}

{% block title 'New page' %}

{% block content1 %}

<h1>Notifies creation</h1>

<form action="{{ path('notifies_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul>
    <li>
        <a href="{{ path('notifies') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}
